<!-- 搜索页面样式 -->
<div class="search">
   <section >
     <div class="search-title"><a href="#">站内搜索</a></div>
     <div class="site-layer-input" id="site-layer-search" style="display: flex;">
       <input type="text" id="local-search-input-ad" placeholder="随便搜点什么吧">
       <i class="fa fa-search"></i>
     </div>
     <div id="local-search-result-ad"></div>
   </section>
</div>